<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/content_page.css' %}">

    <title>Content Creater</title>
</head>
<body><br><br>

    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="http://127.0.0.1:8000/contentwriter/contactDetails">Contact Details</a>
        </li>
    </ul>

    <div id="zz">
        <div id="ab">
            <h1>WELCOME TO CONTENT WRITER WORLD</h1>
            <p>HEY, Hi Guys it is the correct way to explore your content</p>
        </div>

        <div class="container">
            <ul id="cd">
                <li>Be Innovative</li>
                <li>Be Confident</li>
                <li>Enjoy Writing</li>
            </ul><br><br>
            <a type="button" class="btn btn-success btn-lg" href="http://127.0.0.1:8000/contentwriter/register_login/" role="button">Let's Get Started</a>
        </div>
    </div>
</body>
</html>