<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/content_page.css' %}">

    <title>Get Started</title>
</head>
<body>
    <div id="zz">
        <div id="ab">
            <h1 id="st">How to Become a Content Creator</h1>
            <hr class="style-eight">
        </div>
        <div class="container">
            <ol id="cd" type="1">
                <li>Read news about your industry every day.</li>
                <li>Write on the regular.</li>
                <li>Study your industry's audience.</li>
                <li>Establish your own voice.</li>
                <li>Curate other people's content (when it makes sense to).</li>
                <li>Understand your KPIs.</li>
                <li>Network at every opportunity.</li>
                <li>Offer solutions, not just commentary.</li>
                <li>Question everything.</li>
            </ol><br><br>
            <a type="button" class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/contentwriter/register/" role="button">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a type="button" class="btn btn-warning btn-lg" href="http://127.0.0.1:8000/accounts/login" role="button">Login</a>
        </div>
    </div>
</body>
</html>